.titleSk{
    font-family: 'Righteous', cursive;
    color: rgb(231, 234, 241);
    text-align: center;
    font-size: 1.8rem;
    margin: .5rem;
}

.subtitle{
    color: white;
    font-family: 'Signika', sans-serif;
    text-align: center;
    font-size: 1.5rem;
}