.nav-color{
  background-color: #aeb828;
  background-image: linear-gradient(315deg, #6f88f7 0%, #1a41f0 74%);
}

.title-font, .item-text{

  font-family: 'Righteous', cursive;
  font-size: 22px;
}

.title-email {
  font-size: 16px;
  color: #d8dce4;
  
}